.wrapper {
  width:100%;
  height:100%;
  text-align:center;
  margin: auto;
}

.container {
  width:1008px;
  height:100%;
  margin: auto;
  background-color:#ffdcb5;
  border:#ffc559 1px solid;
}

.headLinkWrap
{
	height:25px;
	text-align:right;
	padding:0px 5px 5px 0;
	color:#225594;
}

.headLinkWrap li
{
	display:inline;
	margin-right:5px;
}

.headLinkSep
{

}

.headLinkWrap a
{
	color:#225594;
	font-size:12px;
	line-height:20px;
}

.bannerWrapper
{
	height:300px;
	width:100%;
	background-image: url("../public/images/school.png");
	background-repeat: no-repeat;
	background-position:center;
}

.movingWrapper
{
	height:30px;
	width:100%;
	background-color:#954077;
	overflow: hidden;
	display: grid;
	grid-template-columns: 126px 1fr;
}

.movingTitleImg
{
	height:30px;
	width:101px;
	background-image: url("../public/images/today.png");
	background-repeat: no-repeat;
	background-size: 101px 25px;
	background-position-y: 3px;
	margin-left:25px;
	display:inline-block;
}

.movingTextWrap
{
	//border:blue 1px solid;
	overflow: hidden;
}

.movingWrapper p
{
	//border:red 1px solid;
	animation: marquee 20s linear infinite;
	line-height:30px;
	color:#fff;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight:100;
	letter-spacing: 2px;
	font-size:16px;
}

@keyframes marquee {
	from {transform: translateX(100%); }
	to {transform: translateX(-100%); }
}

.contentWrapper
{
	width:100%;
	//border:red 2px solid;
	margin:20px auto 0 auto;
	text-align:center;
}



.footer
{
	height:70px;
	line-height:68px;
	//border:red 1px solid;
	text-align:left;
	padding:0 15px;
	color:#336699;
	font-size:12px;
}

.footer li
{
	display:inline-block;
	margin-right:33px;
}

.footerItem1
{
	background-image: url("../public/images/footer/under.png");
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position-y: 15px;
	padding:0 0 0 38px;
}

.footerItem2
{
	background-image: url("../public/images/footer/under2.png");
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position-y: 15px;
	padding:0 0 0 38px;
}
.footerItem3
{
	background-image: url("../public/images/footer/under3.png");
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position-y: 15px;
	padding:0 0 0 38px;
}

.footerItem4
{
	background-image: url("../public/images/footer/under4.png");
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position-y: 15px;
	padding:0 0 0 38px;
}

.footerItem5
{
	background-image: url("../public/images/footer/under5.png");
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position-y: 15px;
	padding:0 0 0 38px;
}
