.p_contentWrapper
{
  font-family: 'Noto Sans TC';
  font-size:20px;
  padding:10px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.classListWrapper
{
  font-size:20px;
  padding:20px 0;
}

.classbtn
{
  margin:0 0 10px 0 !important;
  font-size:23px !important;
}

.classbtn_space
{
  display: inline-block;
  width:10px;
}
