.wrapper {
  width:100vw;
  height:100vh;
  text-align:center;
  margin: auto;
}

.container {
  width:1008px;
  height:100vh;
  margin: auto;
  background-color:#ffdcb5;
  border:#ffc559 1px solid;
}

.headLinkWrap
{
	height:20px;
	text-align:right;
	padding:0px 5px 0 0;
	color:#225594;
}

.headLinkWrap li
{
	display:inline;
	margin-right:5px;
}

.headLinkSep
{
	
}

.headLinkWrap a
{
	color:#225594;
	font-size:12px;
	line-height:20px;
}

.bannerWrapper
{
	height:300px;
	width:100%;
	background-image: url("../public/images/school.png");
	background-repeat: no-repeat;
	background-position:center;
}

.movingWrapper
{
	height:30px;
	width:100%;
	background-color:#954077;
	overflow: hidden;
	display: grid;
	grid-template-columns: 126px 1fr;
}

.movingTitleImg
{
	height:30px;
	width:101px;
	background-image: url("../public/images/today.png");
	background-repeat: no-repeat;
	background-size: 101px 25px;
	background-position-y: 3px;
	margin-left:25px;
	display:inline-block;
}

.movingTextWrap
{
	//border:blue 1px solid;
	overflow: hidden;
}

.movingWrapper p 
{
	//border:red 1px solid;
	animation: marquee 10s linear infinite;
	line-height:30px;
	color:#fff;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight:100;
	letter-spacing: 2px;
	font-size:16px;
}

@keyframes marquee {
	from {transform: translateX(100%); }
	to {transform: translateX(-100%); }
}

.contentWrapper
{
	width:100%;
	//border:red 2px solid;
	margin:20px auto 0 auto;
	text-align:center;
}

.cornerDiv
{
	width:960px;
	//border:blue 2px solid;
	margin: auto;
	background-color:#e1e7e9;
	border:#b0bec7 1px solid;
	border-radius: 8px;
}

.cornerDivHeader
{
	height:35px;
	width:100%;
	//border:blue 1px solid;
	
}

.cornerDivHeaderImg
{
	height:23px;
	width:17px;
	background-image: url("../public/images/2.png");
	background-repeat: no-repeat;
	background-size: 23px 17px;
	margin:15px 0 0 10px;
}




